.pod {
	background-color: green;
	width: 100%;
	font-weight: bold;
	border: thin solid blue;
}

p .token .key {
	color: red;
}

.nav-item {
	color: red;

	transition: color 2s;
}

.nav-item:hover {
	color: blue;

}

